body {
    background-color: #f5edd8;
}

hr {
    border-style: dotted none none;
    width: 5%;
    border-color: #b70382;
    border-width: 8px;
}

h2 {
    color: #31251c;
    font-family: 'Mukta';
}

p {
    font-family: 'Mukta';
    font-weight: 300;
}

table td {
    font-family: 'Mukta';
    font-weight: 300;
}
